<pre ng-if="type.bestSupport"><code data-hljs="css" highlightjs>/* {{fontItem.id}}-{{variant.id}} - {{fontItem.storeID}} */
@font-face {
  font-family: {{variant.fontFamily}};
  font-style: {{variant.fontStyle}};
  font-weight: {{variant.fontWeight}};
  src: url('{{folderPrefix}}{{fontItem.id}}-{{fontItem.version}}-{{fontItem.storeID}}-{{variant.id}}.eot'); /* IE9 Compat Modes */
  src: local('{{variant.local[0]}}'),{{variant.local[1] ? " local('" + variant.local[1] + "')," : ""}}
       url('{{folderPrefix}}{{fontItem.id}}-{{fontItem.version}}-{{fontItem.storeID}}-{{variant.id}}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{folderPrefix}}{{fontItem.id}}-{{fontItem.version}}-{{fontItem.storeID}}-{{variant.id}}.woff2') format('woff2'), /* Super Modern Browsers */
       url('{{folderPrefix}}{{fontItem.id}}-{{fontItem.version}}-{{fontItem.storeID}}-{{variant.id}}.woff') format('woff'), /* Modern Browsers */
       url('{{folderPrefix}}{{fontItem.id}}-{{fontItem.version}}-{{fontItem.storeID}}-{{variant.id}}.ttf') format('truetype'), /* Safari, Android, iOS */
       url('{{folderPrefix}}{{fontItem.id}}-{{fontItem.version}}-{{fontItem.storeID}}-{{variant.id}}.svg#{{variant.svg.substring(variant.svg.indexOf('#')+1);}}') format('svg'); /* Legacy iOS */
}
</code></pre>
<pre ng-if="type.modernBrowsers"><code data-hljs="css" highlightjs>/* {{fontItem.id}}-{{variant.id}} - {{fontItem.storeID}} */
@font-face {
  font-family: {{variant.fontFamily}};
  font-style: {{variant.fontStyle}};
  font-weight: {{variant.fontWeight}};
  src: url('{{folderPrefix}}{{fontItem.id}}-{{fontItem.version}}-{{fontItem.storeID}}-{{variant.id}}.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{folderPrefix}}{{fontItem.id}}-{{fontItem.version}}-{{fontItem.storeID}}-{{variant.id}}.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
</code></pre>
<style ng-if="type.styleTag" type="text/css">
@font-face {
  font-family: {{variant.fontFamily}};
  font-style: {{variant.fontStyle}};
  font-weight: {{variant.fontWeight}};
  src: url('{{variant.eot}}'); /* IE9 Compat Modes */
  src: url('{{variant.eot}}?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('{{variant.woff2}}') format('woff2'), /* Super Modern Browsers */
       url('{{variant.woff}}') format('woff'), /* Modern Browsers */
       url('{{variant.ttf}}')  format('truetype'), /* Safari, Android, iOS */
       url('{{variant.svg}}') format('svg'); /* Legacy iOS */
}
</style>
