.scroller {
  // overflow-y: scroll;
  // position: relative;
  // overflow: auto;
  // top: @header_height + 9px;  // add padding line
  // bottom: 0;
  // left: 0;
  // right: 0;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 10px;
  // z-index: -1;
}

pre {
  font-size: 80%;
}

code {
  font-size: 75%;
}

.nonSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// @header_height: 8vh;

.page-header {
  position: absolute;
  top: 0px;
  // bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  padding: 10px 15px 25px 15px;
  margin: 0;
  text-align: right;
  border-bottom: none;
  // background: fade(#efefef, 90%);
  background: transparent;
  z-index: 1000;
  pointer-events: none;
  // text-align: center;
  // height: @header_height;
}

.page-header a {
  pointer-events: initial;
}

.scroller-wrapper {
  // overflow-y: scroll;
  // bottom: 0px;
  // height: 640px;
  // position: absolute;
  // top: 0px;
  // left: 0px;
  // right: 0px;
  // bottom: 0px;
  // overflow-y: hidden;
}

.scroller-inner {
  // overflow-y: scroll;
  // height: 100%;
  // position: relative;
  
  // overflow-y: scroll;
  // overflow:scroll;
  // height: 100%;
  // position:absolute; 
  // top: 0px;
  // left:0px;
  // right:0px;
  // bottom:0px;
}

.fonts-view-wrapper {
  // margin-top: 50px;
  // position: absolute;
  // top: @header_height + 9px;  // add padding line
  // bottom: 0;
  // left: 0;
  // right: 0;
  // overflow: hidden;
}

.fonts-view-inner {
  // bottom: 0;
  // position: relative;
  // height: 100%;
  // width: 100%;
  // overflow: hidden;
}

// .ribbon img {
//   z-index: 1039;
//   display: none;
// }

.preview a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.preview a:hover {
  background: fade(#333, 20%)
}