.scroller {
  overflow-y: scroll;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  height: 85vh;
  // position: relative;
  // bottom: 0;
}

pre {
  font-size: 80%;
}

code {
  font-size: 75%;
}

.nonSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-header {
  margin: 10px 0 0px;
}

// .fonts-view-wrapper {
//   position: absolute;
//   top: 15vh;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.preview a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}