<style type="text/css" ng-repeat="variant in fontItem.variants">

@font-face {
  font-family: {{variant.fontFamily}};
  font-style: {{variant.fontStyle}};
  font-weight: {{variant.fontWeight}};
  src:
    local('{{variant.local[0]}}'),
    local('{{variant.local[1]}}'),
    url('{{variant.eot}}') format('embedded-opentype'),
    url('{{variant.woff}}') format('woff'),
    url('{{variant.ttf}}') format('truetype'),
    url('{{variant.svg}}') format('svg');
}

</style>

<div cg-busy="{promise: fontItemPromise, message: 'Fetching {{fontID}}...', templateUrl: 'app/fonts/customLoadingTemplate.html'}">
  <h3>{{fontItem.family}} <small>{{fontItem.category}}</small></h3>
  <h5>last modified on {{fontItem.lastModified}} ({{fontItem.version}}).</h5>
  <div class="fontVariant">

  <div class="row">
    <div class="preview col-md-3 col-sm-4 col-xs-6" ng-repeat="variant in fontItem.variants" style="font-family:{{variant.fontFamily}}; font-weight:{{variant.fontWeight}}; font-style:{{variant.fontStyle}};">
      <a href="#{{variant.id}}"></a>
      <h4 class="nonSelectable">{{variant.id}}</h4>
      <p class="nonSelectable">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>

<pre><span id="{{variant.id}}" ng-repeat="variant in fontItem.variants">/* {{variant.id}} */
@font-face {
  font-family: {{variant.fontFamily}};
  font-style: {{variant.fontStyle}};
  font-weight: {{variant.fontWeight}};
  src:
    local('{{variant.local[0]}}'),
    local('{{variant.local[1]}}'),
    url('<a href="{{variant.eot}}">{{variant.eot}}</a>') format('embedded-opentype'),
    url('<a href="{{variant.woff}}">{{variant.woff}}</a>') format('woff'),
    url('<a href="{{variant.ttf}}">{{variant.ttf}}</a>') format('truetype'),
    url('<a href="{{variant.svg}}">{{variant.svg}}</a>') format('svg');
}

</span></pre>
    
  </div>
</div>