/* ui bootstrap click to pointers */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body {
    height: 100%;
}

.fonts-top-container, .top-overlay, .box {
  min-width: 900px;
}

.fonts-top-container, .row-fluid {
  height: 100%;
}

.fonts-top-container:before, .fonts-top-container:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.fonts-top-container:after,
.column:after {
    clear: both;
}

.box {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top:80px;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.list-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.scrollerLeft {
  background: #eee;
}

.scrollerRight {
}

pre {
  font-size: 80%;
}

code {
  font-size: 75%;
}

.nonSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-overlay {
  height: 80px;
  padding: 10px 15px 25px 15px;
  border-bottom: #eee solid 1px;
  background: #fff;
  // z-index: 1000;
}

.page-header {
  margin: 0;
  margin-top: 25px;
  border-bottom: none;
  float: left;
}

#githubCount {
  float: right;
}

textarea {
   resize: none;
}

// .githubOverlay {
//   position: absolute;
//   top: 14px;
//   right: 5px;
// }

.ordering {
  margin-bottom: 5px;
}

.download-button {
  margin-top: 30px;
}